.upper {
    background-color: #881108;
}

.jumbotron {
    margin-bottom: 0px;
}

.card {
    border: none;
}

.footer {
    background-color: #f4f7f8;
    color: #d30e00; 
    font-family: 'Montserrat', sans-serif;
    height: 50px;
}

.titles {
    font-family: 'Bodoni Moda', serif;
    color: white;
    background-color: #d30e00;
    font-size: 60px !important;
}

h2 {
    font-family: 'Bodoni Moda', serif;  
}

.boxed {
    border-width: 3px;
    border-color: #ffbb91;
    border-style: outset;
    background-color: #e1eee9 !important;
}

.thumbnails {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 300px;
    /* width: 534px; */
    border: 3px outset #ffbb91;
    padding: 0px;
}

.stripe-background {
    /* background-image: url("Assets/pattern1.png"); */
    background-size: cover;
}

.centered {
    text-align: center !important;
}