body {
    background-image: url("./Assets/webb.png");
}

h1, h2, h3, h4, h5 {
    font-family: 'Bodoni Moda', serif;
}

nav {
    font-family: 'Bodoni Moda', serif;
    background-color: #d30e00;
    margin-left: 0;
    margin-right: 0;
}

#nav-mobile {
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-family: 'Bodoni Moda', serif;
    color: white;
    background-color: #d30e00;
    padding-bottom: 120px;
    padding-top: 30px;
}

main {
    font-family: 'Montserrat', sans-serif;
}

.bioDiv {
    background-color: white;
}

.myPhoto {
    padding-top: 10px;
}

.bioText {
    font-size: 110%;
}

.deployed-text {
    color: #d30e00 !important;
}

.page-footer {
    background-color: #d30e00;
    font-family: 'Montserrat', sans-serif;
}

.footer-copyright {
    background-color: #d30e00 !important;
}