.upper {
    background-color: #d30e00;
}

.footer {
    background-color: #f4f7f8;
    color: #d30e00 !important; 
    font-family: 'Montserrat', sans-serif;
    height: 50px;
}

.titles {
    font-family: 'Bodoni Moda', serif;
    color: white!important;
    font-size: 40px;
}

.boxed {
    border-width: 3px;
    border-color: #ffbb91;
    border-style: outset;
    background-color: #e1eee9 !important;
    padding: 25px;
}

.thumbnails {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 300px;
    border: 3px outset #ffbb91;
    padding: 0px;
}
